@import "./_variables";
@import "./_mixins";

body {
    margin: 0;
    font-family: $georgia;
    font-size: $main-fz;
    line-height: $main-lh;
    min-width: 320px;
    box-sizing: border-box;
    outline: none;
    color: $main-color;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    outline: none;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: $main-color;
    @include trs;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.wrapper {
    overflow: hidden;
}

.btn {
    display: block;
    font-family: $georgia;
    font-size: 17px;
    padding: 10px 10px;
    border-radius: 20px;
    border: 2px solid $beige;
    background-color: $beige;
    text-align: center;
    letter-spacing: 1px;
    color: #292929;
    cursor: pointer;
    @include trs;

    &:hover {
        background-color: transparent;
        color: $beige;
    }
}

.clearfix {
    overflow: hidden;
}

.clearfix:after {
    content: " ";
    clear: both;
}

.main  {

    &__container {
        max-width: 1200px;
        padding: 0 15px;
        margin: 0 auto;

        .about {
            max-width: 920px;
            margin: 0 auto;
            padding: 90px 0;
        }

        .about__wrapper {
            display: block;
            max-width: 420px;
            float: right;
            padding: 0;
        }

        .about__title {
            padding: 0 0 35px;
            font-size: 35px;
            letter-spacing: 3px;
            color: $main-color;
            font-family: $georgia;
        }

        .about__text {
            font-size: 15px;
            padding: 0 0 30px;
            font-family: $arial;
            color: $second-color;
        }

        .about__picture {
            float: left;
        }
    }
}

.caption {
    font-size: 35px;
    display: block;
    line-height: 1.29;
    letter-spacing: 2px;
    @include b (768) {
        font-size: 25px;
    }
}

.button-next,
.button-prev {
    width: 50px;
    height: 50px;
}



