.icons__container {
    max-width: 1200px;
    padding: 70px 15px;
    margin: 0 auto;

    .icons__title {
        text-align: center;
        padding: 0 0 35px;
        font-size: 35px;
        font-family: "Georgia";
        font-weight: 400;
    }

    .icons__list {
        text-align: center;

        img {
            width: 65px;
            display: block;
            margin: 0 auto;
            padding: 0 0 30px;
        }
        li {
            display: inline-block;
            width: 20%;
            padding: 30px;
            text-align: center;
        }
    }

    
}